@media only screen and (max-width: 1024px) {

    /* Navigaton  */

    .nav-container {
        margin: 20px;
    }

    .nav-link {
        display: flex;
        text-align: left;
    }
    .nav-link:not([aria-current]) {
        text-decoration: none;
    }

    /* Card Logement */

    .card-body {
        margin: 20px;
        width: 300px;
    }

    /* Banner  */
    .banner-div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner-div h2 {
        font-size: 1.5rem;
    }

    
    .banner-div
    {
        min-height: 32vh;
    }
    .banner-div img
    {
        min-height: 32vh;
    }

    .accordion-container {
        flex-direction: column;
    }


        .section-header-container {
        flex-direction: column;
    }

    .info-host {
        flex-direction: row-reverse;
    }

    .host-container {
        flex-direction: column;
    }
}



@media only screen and (min-width: 1024px) {

    .card-body {
        margin: 30px;
        width: 350px;
    }
    /* .banner-div {
        height: 14vw;
    }
    .banner-div img
    {
        height: 14vw;
    } */

    .banner-div {
        display: flex;

    }

    .nav-container {
        padding: 30px;
    }

    
    .accordion-container {
        flex-direction: row;
    }


    .info-host {
        flex-direction: column;
    }

}