/* PHONE AND TABLETTE */
@media only screen and (max-width: 1024px) {

    /* Navigaton  */

    .nav-container {
        margin: 20px;
    }

    .nav-container img {
        max-height: 3rem;
        max-width: 12.5rem;
    }
    .nav-container div {
        display: flex;
        align-items: center;
    }
    .nav-link {
        display: flex;
        text-align: left;
        font-size: 16px;

    }
    .nav-link:not([aria-current]) {
        text-decoration: none;
    }

    
    /* Card Logement */

    .card-body {
        margin: 20px;
        width: 300px;
    }

    /* Banner  */
    .banner-div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner-div h2 {
        font-size: 1.2rem;
    }

    
    .banner-div
    {
        min-height: 20vh;
    }
    .banner-div img
    {
        min-height: 20vh;
    }

    /* Caroussel */

    svg.svg-inline--fa.fa-angle-left.fa-4x {
        right: 88%;
    }

     svg.svg-inline--fa.fa-angle-right.fa-4x {
        left: 88%;
    }

    .cover-container {
        width: 90%;
    }
 
    .accordion-container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    .accordion-container > div:nth-child(1) {
        width: 90%;
        margin:10px 0;
    }
    .accordion-container > div:nth-child(2) {
        width: 90%;
        margin:10px 0;
    }


        .section-header-container {
        flex-direction: column;
    }

    .info-host {
        flex-direction: row-reverse;
        align-items: center;
    }

    .host-container {
        flex-direction: column;
    }

    /* .section-header-container {
        width: 90%;
    } */


    /* 404 Page  */

    .big404 {
        font-size: 10rem;
    }
}























/* DESKTOP */

@media only screen and (min-width: 1024px) {


    .main-container {
        width: 80%;
        min-height: 65vh;
        width: 72vw;
    }

    .card-body {
        margin: 30px;
        width: 350px;
    }
    .banner-div {
        height: 15vw;
    }
    .banner-div img
    {
        height: 15vw;
    }


    /* Banner */
    .banner-div {
        display: flex;

    }

    .nav-container {
        padding: 30px;
    }


    /* Caroussel  */

    .cover-container {
        width: 95%;
    }
    .container-location:first-child {
        width: 100%;
    }
    svg.svg-inline--fa.fa-angle-left.fa-4x {
        right: 94%;
    }

     svg.svg-inline--fa.fa-angle-right.fa-4x {
        left: 94%;
    }
    .section-header-container{
        width: 100%;
    }
    .accordion-container {
        flex-direction: row;
    }

    

    .info-host {
        flex-direction: column;
        align-items: end;
    }
    

    /* 404 Page  */

    .big404 {
        font-size: 18rem;
    }
}